<phpunit
        colors="true"
        >
    <testsuites>
        <testsuite name="Go Fish Test Suite">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

</phpunit>
